
.main{
    
    width: 90%;
    height: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 254, 253);
}

.img{
    max-width: 350px;
    max-height: 350px;
}
.mainImg{
    float: right;
}